Repository Twonki/Microtope, changes with the labels that .github/labeler.yml gives for each.
All labels: Angular, Typescript, Java, Test, Documentation, Database, Docker, Configuration, Git, Integration

Forcing PR Job
  api/src/index.ts
Labels: none

Update team.model.ts
  api/src/models/team.model.ts
Labels: none

Fix incorrect import
  ui/src/app/services/app-config.service.spec.ts
Labels: Test

Fix broken test suites
  ui/src/app/components/player-detail/player-detail.component.spec.ts
  ui/src/app/components/player-splitscreen-page/player-splitscreen-page.component.spec.ts
  ui/src/app/components/team-detail/team-detail.component.spec.ts
  ui/src/app/components/team-splitscreen-page/team-splitscreen-page.component.spec.ts
  ui/src/app/components/top-rankable/top-rankable.component.spec.ts
  ui/src/app/services/app-config.service.spec.ts
  ui/src/app/services/team.service.spec.ts
Labels: Test

Initial Code-Copy for shared Java lib
  core/pom.xml
  core/src/main/java/microtope/config/ActiveMqConfiguration.java
  core/src/main/java/microtope/config/SqlConfig.java
  core/src/main/java/microtope/data/DataGenerator.java
  core/src/main/java/microtope/data/MessageGenerator.java
  core/src/main/java/microtope/data/Team.java
  core/src/main/java/microtope/data/ValueChecker.java
  core/src/main/java/microtope/messages/AmqBaseMessage.java
  core/src/main/java/microtope/messages/AmqMessage.java
  core/src/main/java/microtope/messages/AmqMessageParser.java
  core/src/main/java/microtope/messages/BadMessage.java
  core/src/main/java/microtope/messages/CoinMessage.java
  core/src/main/java/microtope/messages/LoginMessage.java
  core/src/main/java/microtope/messages/LogoutMessage.java
  core/src/main/java/microtope/messages/PlayerRelatedMessage.java
  core/src/main/java/microtope/messages/StepMessage.java
  core/src/module-info.java
  core/src/test/java/microtope/config/ActiveMQConfigTests.java
  core/src/test/java/microtope/config/SQLConfigTests.java
  core/src/test/java/microtope/data/DataGeneratorTests.java
  core/src/test/java/microtope/data/ValueCheckerTests.java
  core/src/test/java/microtope/messages/AMQMessageParserTests.java
  core/src/test/java/microtope/messages/BaseMessageTests.java
  core/src/test/java/microtope/messages/MessageEqualityTests.java
  core/src/test/java/microtope/messages/MessageHashCodeTests.java
Labels: Configuration

Added Pom witchcraft and got it running
  core/pom.xml
  core/src/main/java/microtope/messages/AmqMessageParser.java
  core/src/main/resources/checkstyle.xml
  core/src/test/java/microtope/data/MessageGeneratorTest.java
  meta/documentation/overview.uml
Labels: Configuration

Added Readme for lib #30
  core/README.md
Labels: Documentation

Added Module Info to pulser
  core/.gitignore
  pulser/pom.xml
  pulser/src/main/java/microtope/program/App.java
  pulser/src/module-info.java
  pulser/src/test/java/microtope/pulser/AppTest.java
Labels: Java, Configuration

Altered Group-Id and version to fit maven standard
  core/pom.xml
  pulser/BuildDockerfile
  pulser/Dockerfile
  pulser/pom.xml
  worker/BuildDockerfile
  worker/Dockerfile
  worker/pom.xml
Labels: Java, Docker, Configuration

Working on modularizing worker
  worker/pom.xml
  worker/src/main/java/microtope/program/App.java
  worker/src/main/java/microtope/worker/MariaDbWriter.java
  worker/src/main/java/module-info.java
  worker/src/test/java/microtope/worker/AppTests.java
Labels: Java, Configuration

Update pull_request_template.md
  .github/pull_request_template.md
Labels: Documentation, Git

removed module-info for worker for now
  worker/.gitignore
  worker/pom.xml
  worker/src/main/java/module-info.java
Labels: Java, Configuration

Removed unused dependency of jms
  pulser/pom.xml
Labels: Java, Configuration

Added test dep on core package in pulser
  pulser/pom.xml
Labels: Java, Configuration

Revert "Removed unused dependency of jms"
  pulser/pom.xml
Labels: Java, Configuration

Added Git Repo and deployment to pom
  core/pom.xml
Labels: Configuration

cleaned pom a little and enhanced readme for deployment
  core/README.md
  core/pom.xml
Labels: Documentation, Configuration

.github/labeler.yml:

Angular:
- ui/*

Typescript:
- ui/src/*
- api/*

Java:
- pulser/src/*
- pulser/pom.xml
- worker/src/*
- worker/pom.xml

Test:
- pulser/src/test/*
- worker/src/test/*
- api/test/*
- ui/src/**/*.spec.ts

Documentation:
- ./**/*.md
- meta/docu/*

Database:
- database/*

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- .meta/*.yml
- meta/*.yaml
- meta/**/*.yml
- meta/**/*.yaml
- meta/**/*.json
- worker/pom.xml
- pulser/pom.xml
- ./**/*.yml
- ./**/*.yaml
- ./**/*.json
- ./**/*.xml

Git:
- .github/*

Integration:
- ./meta/docker-compose.yml
- azure-pipelines.yml
