Repository Twonki/Microtope, pull requests merged in 2019-10, with the labels that each got.

#108 Complete GitHub pipeline
  .editorconfig
  .github/COMMIT_TEMPLATE/commitmessage.txt
  .github/workflows/buildAll.yml
  .github/workflows/dockerAPI.workflow
  .github/workflows/dockerDB.workflow
  .github/workflows/dockerUI.workflow
  .gitignore
  .whitesource
  README.MD
  azure-pipelines.yml
Labels: Configuration, Integration

#110 Dev
  .github/labeler.yml
  .github/workflows/buildAll.yml
  .github/workflows/buildPulser.yml
  .github/workflows/buildWorker.yml
Labels: Configuration, Git

#125 small_work_on_ui
  ui/karma.conf.js
  ui/package-lock.json
  ui/package.json
  ui/src/app/services/player.service.spec.ts
  ui/src/app/utils/IRankable.functions.spec.ts
  ui/src/app/utils/IRankable.functions.ts
Labels: Angular, Test

#126 Added Spotbugs and PMD
  .github/labeler.yml
  .github/workflows/buildAPI.yml
  pulser/pom.xml
  pulser/src/main/java/microtope/config/ActiveMqConfiguration.java
  pulser/src/main/java/microtope/data/DataGenerator.java
  pulser/src/main/java/microtope/pulser/App.java
  pulser/src/main/java/microtope/pulser/ValueChecker.java
  pulser/src/main/java/microtope/pulser/Worker.java
  pulser/src/test/java/microtope/pulser/WorkerTests.java
  worker/pom.xml
  worker/src/main/java/microtope/config/ActiveMqConfiguration.java
  worker/src/main/java/microtope/config/SqlConfig.java
  worker/src/main/java/microtope/messages/AmqBaseMessage.java
  worker/src/main/java/microtope/messages/AmqMessage.java
  worker/src/main/java/microtope/messages/BadMessage.java
  worker/src/main/java/microtope/messages/CoinMessage.java
  worker/src/main/java/microtope/messages/LoginMessage.java
  worker/src/main/java/microtope/messages/LogoutMessage.java
  worker/src/main/java/microtope/messages/PlayerRelatedMessage.java
  worker/src/main/java/microtope/messages/StepMessage.java
  worker/src/main/java/microtope/worker/MariaDbWriter.java
  worker/src/main/java/microtope/worker/MessageReciever.java
  worker/src/main/java/microtope/worker/ValueChecker.java
  worker/src/test/java/microtope/messages/MessageHashCodeTests.java
  worker/src/test/java/microtope/worker/FakeConnection.java
  worker/src/test/java/microtope/worker/MariaDBWriterTests.java
Labels: Configuration, Git, Java

#127 Moved PR Template because of error
  .github/pull_request_template.md
Labels: Git

#111 Edited Test-publish to pulser
  .github/workflows/buildPulser.yml
Labels: Configuration

#128 Minor Change to create PR
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/buildPulser.yml
  pulser/pom.xml
Labels: Configuration, Java, Pipeline

#130 Added Release Action for full Docker release, removed release from PulserCI
  .github/workflows/buildPulser.yml
  .github/workflows/releaseAll.yml
Labels: Configuration

#136 Remove unnecessary UI step from Dockerfile
  ui/Dockerfile
  ui/package.json
Labels: Angular

#144 Fixed Jobs closes #137
  .github/workflows/buildAPI.yml
  .github/workflows/buildAll.yml
  .github/workflows/buildDB.yml
  .github/workflows/buildPulser.yml
  .github/workflows/buildWorker.yml
Labels: Configuration

#166 Passing test suite
  ui/src/app/components/player-detail/player-detail.component.spec.ts
  ui/src/app/components/player-splitscreen-page/player-splitscreen-page.component.spec.ts
  ui/src/app/components/team-detail/team-detail.component.spec.ts
  ui/src/app/components/team-splitscreen-page/team-splitscreen-page.component.spec.ts
  ui/src/app/components/top-rankable/top-rankable.component.spec.ts
  ui/src/app/services/app-config.service.spec.ts
  ui/src/app/services/team.service.spec.ts
Labels: Angular, Test
